opencv-python == 4.5.2.52
numpy == 1.20.3
mediapipe == 0.8.4.2





"C:\Surendra_profile\project\Final\final ppt.pptx"   # input ppt path


"C:\Surendra_profile\project\Final\code\Images"    #output folder path



 ppt_file = r"C:\Surendra_profile\project\Final\final ppt.pptx"   # input ppt path
    output_folder = r"C:\Surendra_profile\project\Final\code\Images"    #output folder path
    convert_ppt_to_images(ppt_file, output_folder)
